@page "/emailverify"
@page "/emailverify/{Email}"
@using AccuFin.Api.Client.Authentication;
@layout AuthenticationLayout

<MudTextField T="string" Label="Email" @bind-Value="Email" InputType="InputType.Email" InputMode="InputMode.email" />
<MudTextField T="string" Label="Code" @bind-Value="Code" />
@foreach (var error in Errors)
{
    <MudAlert Severity="Severity.Error">@error</MudAlert>
}
@if (Busy)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true"/>
}
<div class="d-flex justify-end flex-grow-1 gap-4 mt-3">
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="object-left" OnClick="DoVerify" Disabled="@Busy">Email bevestigen</MudButton>
</div>
@code {
    [Inject]
    public AuthenticationClient AuthenticationClient { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    [Parameter]
    public string Email { get; set; }
    public string Code { get; set; }
    public bool Busy { get; set; }
    public List<string> Errors { get; set; } = new List<string>();
    public async Task DoVerify()
    {
        if (Busy)
        {
            return;
        }
        Errors.Clear();
        if (string.IsNullOrWhiteSpace(Email) || string.IsNullOrWhiteSpace(Code))
        {
            return;
        }
        Busy = true;
        var response = await AuthenticationClient.ConfirmEmailAsync(Email, Code);
        if (!response.Success)
        {
            if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                Errors = response.ErrorData.Select(b => b.Description).Where(b => !string.IsNullOrWhiteSpace(b)).ToList();
            }
            else
            {
                Errors.Add("Onbekende fout, probeer later opnieuw");
            }
            Busy = false;
            return;
        }
        else
        {
            Busy = false;
            NavigationManager.NavigateTo("/");
        }
    }

}
