@page "/resetpassword"
@page "/resetpassword/{Email}/{Change:bool}"
@page "/resetpassword/{Change:bool}"
@using AccuFin.Api.Client.Authentication;
@layout AuthenticationLayout
<MudText>Om het wachtwoord te resetten word een mail gestuurd. Hierin staat een code waarmee het wachtwoord gereset kan worden.</MudText>
<MudTextField T="string" Label="Email" @bind-Value="Email" InputType="InputType.Email" InputMode="InputMode.email" />
@foreach (var error in Errors)
{
    <MudAlert Severity="Severity.Error">@error</MudAlert>
}
@if (Busy)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
}
<div class="d-flex justify-end flex-grow-1 gap-4 mt-3">
    <MudButton Variant="Variant.Filled" Color="Color.Secondary" Class="object-left" OnClick="DoReset" Disabled="@Busy">Resetten</MudButton>
</div>

@code {
    [Inject]
    public AuthenticationClient AuthenticationClient { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    [Parameter]
    public string Email { get; set; }
    [Parameter]
    public bool Change { get; set; }
    public bool Busy { get; set; }
    public List<string> Errors { get; set; } = new List<string>();
    public async Task DoReset()
    {
        var emailAdress = Email;
        if (Busy)
        {
            return;
        }
        Errors.Clear();
        if (string.IsNullOrWhiteSpace(emailAdress))
        {
            return;
        }
        Busy = true;
        var response = await AuthenticationClient.SendResetCodeAsync(emailAdress, Change);
        if (!response.Success)
        {
            if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                Errors = response.ErrorData.Select(b => b.Description).Where(b => !string.IsNullOrWhiteSpace(b)).ToList();
            }
            else
            {
                Errors.Add("Onbekende fout, probeer later opnieuw");
            }
            Busy = false;
            return;
        }
        else
        {
            Busy = false;
            NavigationManager.NavigateTo("resetwithcode/" + emailAdress);
        }
    }

}
