@page "/integrationdone/{AdministrationId:guid}"
@using AccuFin.Api.Models.BankIntegration;
<MudPaper>
    <h1>Koppeling gelegd met bank</h1>

    @if (BankAccounts != null && BankAccounts.Success)
    {
        foreach (var accountInfo in BankAccounts.Data)
        {
            <MudText>@accountInfo.Name - @accountInfo.IBAN</MudText>
        }
    }
</MudPaper>